/.vs
/PduApiClr/Debug
/PduApiClrUTest/bin
/PduApiClrUTest/obj
/Pduaper.VC.db
/Pduaper/bin
/Pduaper/obj
/RMC_DF/bin
/RMC_DF/obj
/RMC_DFUTest/bin
/RMC_DFUTest/obj
/ipch
/Debug
/PduApi/Debug
/PduApiHelper/Debug
/Pduaper.VC.VC.opendb
