<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PduApiClrUTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PduApiClrUTest.Properties.Settings>
            <setting name="DllPath" serializeAs="String">
                <value>..\..\..\3sprty\dpduapi\dll\PDUAPI_I+ME_ACTIA_XS_1_18_0.dll</value>
            </setting>
            <setting name="ShortName" serializeAs="String">
                <value>XS_D_PDU_API_1_18_1_0</value>
            </setting>
        </PduApiClrUTest.Properties.Settings>
    </userSettings>
</configuration>